* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.img1 {
  display: block;
  /* vertical-align: middle; */
  height: auto;
  max-width: 100%;
}

li {
  margin-bottom: 2rem;
  font-size: 20px;
}

h1,
h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

h3 {
  color: hsl(332, 51%, 32%);
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

#td,
h2 {
  color: hsl(14, 45%, 36%);
}

table {
  width: 70%;
}

tr,
td {
  margin-left: 6rem;
  border-bottom: 1px solid;
  height: 4rem;
  text-align: center;
}

div {
  margin: 1rem;
}

strong {
  font-size: 20px;
}

.footer {
  margin: 3rem;
}

p {
  font-size: 20px;
}

.subheading {
  margin-left: 3rem;
  background-color: hsl(330, 100%, 98%);
}

@media (min-width: 1025px) {
  .img1 {
    display: block;
    /* vertical-align: middle; */
    height: auto;
    max-width: 100%;
  }

  h3 {
    color: hsl(332, 51%, 32%);
  }

  #td,
  h2 {
    color: hsl(14, 45%, 36%);
  }

  .meal_content {
    margin: 2rem;
  }

  table {
    width: 70%;
  }

  tr,
  td {
    margin-left: 6rem;
    border-bottom: 1px solid;
    height: 4rem;
    text-align: center;
  }

  div {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 2rem;
  }

  .subheading {
    margin-left: 5rem;
    background-color: hsl(330, 100%, 98%);
  }
}

@media (min-width: 375px) {
  img {
    margin: 0;
    padding: 0;
  }

  .meal_content {
    padding-top: 1rem;
  }
}
